<!DOCTYPE html>
<html>
<head>
	<title>Transfer Rule</title>
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/fonts/css/font-awesome.css">
	<script type="text/javascript" src="/public/js/angular.min.js"></script>
	<script type="text/javascript" src="/public/js/jquery.js"></script>
	<script type="text/javascript" src="/public/js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">Transfer Rule</a>
	    </div>

	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="/" class="active"><i class="fa fa-home"></i> Home</a></li>
	        <li><a href="/dashboard" class="active"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	        <li><a href="/pay-to-wallet"><i class="fa fa-money"></i> Pay to wallet (demo)</a></li>
	        <li><a href="/transfer-to-account"><i class="fa fa-money"></i> Transfer to account (demo)</a></li>
	        <li><a href="/transfer-to-wallet"><i class="fa fa-money"></i> Transfer to wallet (demo)</a></li>
	      </ul>
	    </div><!--/.nav-collapse -->
	  </div>
	</nav>
	<br /><br />

	{{{ body }}}

	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<span class="small">&copy; 2017 by Ekpoto</span>
				</div>
			</div>
		</div>
	</div>

</body>
</html>