<nav class="navbar navbar-inverse">
	<div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <span><img src="img/logo.png" alt=""></span>PaysFund</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#" style="color:white; font-size:18px;">Wallet View</a></li>
        <li><a href="/" class="active"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="/dashboard" class="active"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="/pay-to-wallet"><i class="fa fa-money"></i> Transfer to wallet</a></li>
        <li><a href="/wallet-to-account"><i class="fa fa-money"></i> wallet to account</a></li>
        <li><a href="/wallet-to-wallet"><i class="fa fa-money"></i> wallet to wallet</a></li>
        <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
      </ul>
	</div>
</nav>

<br /><br />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="">Dashboard</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h1 class="lead">
				<div class="alert alert-info">
					Balance <hr />
					<i class="fa fa-database"></i> NGN 00.00 <br />
				</div>
			</h1>
		</div>
	</div>
</div>