<br /><br />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="">Dashboard</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h1 class="lead">
				<div class="alert alert-info">
					Balance <hr />
					<i class="fa fa-database"></i> NGN 00.00 <br />
				</div>
			</h1>
		</div>
	</div>
</div>