
<br /><br />
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h1 class="lead">Response</h1>
			<ul class="list-group">
				<li class="list-group-item active">Transaction Status</li>
				<li class="list-group-item">Status: {{ fedResponse.status }}</li>
				<li class="list-group-item">Error code: {{ fedResponse.code }}</li>
				<li class="list-group-item">Message: {{ fedResponse.message }}</li>

			</ul>
		</div>
		<div class="col-md-3">
			<h1 class="lead">API Status</h1>
			<div class="panel panel-success">
				<div class="panel-heading">
					Our Service will be using FlutterWave API
				</div>
				<div class="panel-body">
					<table>
						<tr>
							<td>Status: </td>
							<td>{{ fedResponse.status }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>